.pokemon-card{
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: none;
}

.pokemon-card .card-top{
    padding: 30px 40px 0;
}

.pokemon-card .name{
    margin-bottom: 5px;
}

.pokemon-card .type{
    font-size: 12px;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 20px;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}

.pokemon-card .details{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card .card-img{
    width: 350px;
    height: 350px;
    
}

.pokemon-card img{
    max-height: 100%;
}

.pokemon-card .card-info{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.pokemon-card .card-info h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.pokemon-card .card-info .status .ability {
    padding: 0px;
    width: 180px;
}

.pokemon-card .card-info .ability ul li{
    border-bottom: 1px solid #C3C4C5;
    padding: 0px 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.pokemon-card .card-info .status ul li{
    border-bottom: 1px solid #C3C4C5;
    padding: 0px 0px 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.eletric-type{
    background-color: #ffca3a ;
}

.grass-type{
    background-color: #93ff96;
}

.fire-type{
    background-color: #fe7f2d;
}

.water-type{
    background-color: #89c2d9;
}

.ghost-type{
    background-color: #aa7bc3;
}

.dragon-type{
    background-color: #ee964b;
}

.dragon-water-type{
    background-color: #06aed5;
}

.dark-type{
    background-color: #1c2541;
}

.pokemon-card.open{
    display: block;
}
